@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lobster&family=Poppins:wght@400;700&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #7477FF;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1E293B;
}